<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<config>
	<setting id="STATS_BAR_HEIGHT" value="50" />
	<setting id="HP_BAR_LENGTH" value="100" />
	<setting id="HP_BAR_HEIGHT" value="10" />
	<setting id="STATS_BAR_Y_OFFSET" value="10" />
	<setting id="STATS_BAR_X_OFFSET" value="10" />
	
</config>