<?xml version="1.0" encoding="UTF-8"?>
<config>
        <setting 
			settingType="TEXT_FIELD"
			valueType="INT"
			name="test"
			value="10"
			description="this is a test setting for xml parser"
		>
		<validation
			minValue="0"
			maxValue="10fasdf"
			regEx=""
		/>
		</setting>
				
		<setting 
			settingType="TEXT_FIELD"
			valueType="STRING"
			name="test1"
			value="testvaluestring"
			description="this is a test setting for xml parser"
		>
		<validation
			minValue="0"
			maxValue="10"
			regEx="abdd"
		/>
		</setting>
        

</config>