<?xml version="1.0" encoding="UTF-8"?>
<config>
        <setting 
			settingType="SLIDER"
			valueType="FLOAT"
			name="Gravity"
			value="10.0"
			description="this is a test setting for xml parser"
			editable="true">
				<validation minValue="-50" maxValue="50" regEx=""/>
		</setting>
		
		<setting
			settingType="SLIDER"
			valueType="INT"
			name="Default ammo count"
			value="50"
			editable="true">
				<validation minValue="0" maxValue="1000"/>
		</setting>
				
		<setting 
			settingType="TEXT_FIELD"
			valueType="STRING"
			name="test1"
			value="testvaluestring"
			description="this is a test setting for xml parser"
		>
		<validation
			minValue="0"
			maxValue="10"
			regEx="abdd"
		/>
		</setting>
        

</config>