<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<config>
	<setting id="skins" value="skins/skins.config"/>
	<setting id="default-skin-id" value="frozen"/>
	<setting id="default-font" value="fonts/default-font.fnt"/>
	<setting id="title-font" value="fonts/title-font.fnt"/>
	<setting id="screen-height" value="960"/>
	<setting id="screen-width" value="1280"/>
	<setting id="use-fullscreen" value="true"/>
	<setting id="general-settings" value="settings/default-settings.config" />
	<setting id="screen-settings" value="settings/screen-settings.config" />
	<!-- maps value should be a path to a folder -->
	<setting id="maps-settings" value="maps" />
	<setting id="ships-settings" value="ships" />
</config>
