<?xml version="1.0" encoding="UTF-8"?>
<config>
        <map background="C:\Workspaces\TurboRocketWars\LibGDX\core\assets\maps\frozen-olaf-1.png"
				width="1920" height="1200">
				<platform>
					<pointA>305;554</pointA>
					<pointB>391;554</pointB>
				</platform>
				<platform>
					<pointA>1647;362</pointA>
					<pointB>1733;362</pointB>
				</platform>
				<!--
                <mapObject>
					<point>0;240</point>
					<point>640;240</point>
				</mapObject>
				-->
        </map>

</config>