<?xml version="1.0" encoding="UTF-8"?>
<config>
        <map name="Frozen 2" background="skins\frozen\textures\maps\frozen-olaf-1.png"
				width="1920" height="1200" description="height and width should match the background size to make easier mapping from map to image">
				<platform>
					<pointA X="305" Y="554"/>
					<pointB X="391" Y="554"/>
				</platform>
				<platform>
					<pointA X="1647" Y="362"/>
					<pointB X="1733" Y="362"/>
				</platform>
				<!--
                <mapObject>
					<point>0;240</point>
					<point>640;240</point>
				</mapObject>
				-->
        </map>

</config>