<?xml version="1.0" encoding="UTF-8"?>
<config>
        <ship name="default" textureId="ship-default"
				 description="height and width should match the background size to make easier mapping from map to image">
				
				<!--
                TODO ship settings here
				-->
        </ship>

</config>