<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<config>
    <setting description="platform friction. can be used to stop the ship sliding of the platform - or the opposite" editable="true" name="Platform friction" settingType="SLIDER" value="5" valueType="FLOAT">
        <validation minValue="0" maxValue="20" regEx=""/>
    </setting>
    
	
	<!--speed-->
	<setting id="BULLET_SPEED" description="" editable="true" name="Bullet speed" valueType="FLOAT" value="500" settingType="SLIDER">
        <validation minValue="100" maxValue="2000" regEx=""/>
    </setting>
	<setting id="BOMB_SPEED" description="" editable="true" name="Bomb speed" valueType="FLOAT" value="300" settingType="SLIDER">
        <validation minValue="0" maxValue="2000" regEx=""/>
    </setting>
	<setting id="SEEKER_SPEED" description="Speed after seeking has started" editable="true" name="Seeker speed" valueType="FLOAT" value="400" settingType="SLIDER">
        <validation minValue="0" maxValue="2000" regEx=""/>
    </setting>
	<setting id="SEEKER_INIT_SPEED" description="the speed of missile when fired" editable="true" name="Seeker initial speed" valueType="FLOAT" value="600" settingType="SLIDER">
        <validation minValue="0" maxValue="2000" regEx=""/>
    </setting>
	<setting id="FRAGMENT_IMPULSE" description="" editable="true" name="Fragment impulse" valueType="FLOAT" value="700" settingType="SLIDER">
        <validation minValue="0" maxValue="2000" regEx=""/>
    </setting>
	
	<!--cost-->
	<setting id="BULLET_COST" description="bullet cost" editable="true" name="Bullet cost" settingType="SLIDER" value="1" valueType="INT">
        <validation minValue="0" maxValue="20" regEx=""/>
    </setting>
	<setting id="BOMB_COST" description="" editable="true" name="Bomb cost" valueType="INT" value="5" settingType="SLIDER">
        <validation minValue="0" maxValue="20" regEx=""/>
    </setting>
	<setting id="SEEKER_COST" description="" editable="true" name="Seeker cost" valueType="FLOAT" value="2" settingType="SLIDER">
        <validation minValue="0" maxValue="20" regEx=""/>
    </setting>
	<setting id="FRAGMENT_COST" description="" editable="true" name="Fragment cost" valueType="FLOAT" value="0" settingType="SLIDER">
        <validation minValue="0" maxValue="20" regEx=""/>
    </setting>
	
	<!--damage-->
	<setting id="BULLET_DAMAGE" description="bullet damage" editable="true" name="Bullet damage" settingType="SLIDER" value="10" valueType="INT">
        <validation minValue="0" maxValue="100" regEx=""/>
    </setting>
	<setting id="BOMB_DAMAGE" description="" editable="true" name="Bomb damage" valueType="INT" value="25" settingType="SLIDER">
        <validation minValue="0" maxValue="100" regEx=""/>
    </setting>
	<setting id="SEEKER_DAMAGE" description="" editable="true" name="Seeker damage" valueType="INT" value="15" settingType="SLIDER">
        <validation minValue="0" maxValue="100" regEx=""/>
    </setting>
	<setting id="FRAGMENT_DAMAGE" description="" editable="true" name="Fragment damage" valueType="INT" value="5" settingType="SLIDER">
        <validation minValue="0" maxValue="100" regEx=""/>
    </setting>
	
	<!--duration-->
	<setting id="BULLET_DURATION" description="" editable="true" name="Bullet duration" valueType="INT" value="6000" settingType="SLIDER">
        <validation minValue="1000" maxValue="10000" regEx=""/>
    </setting>
	<setting id="SEEKER_DURATION" description="" editable="true" name="Seeker duration" valueType="FLOAT" value="8000" settingType="SLIDER">
        <validation minValue="1000" maxValue="10000" regEx=""/>
    </setting>
	<setting id="FRAGMENT_DURATION" description="" editable="true" name="Fragment duration" valueType="FLOAT" value="1500" settingType="SLIDER">
        <validation minValue="1000" maxValue="10000" regEx=""/>
    </setting>
	
	<!--density-->
	<setting id="BULLET_DENSITY" description="" editable="true" name="Bullet density" valueType="FLOAT" value="2" settingType="SLIDER">
        <validation minValue="0" maxValue="100" regEx=""/>
    </setting>
	<setting id="BOMB_DENSITY" description="" editable="true" name="Bomb density" valueType="FLOAT" value="6" settingType="SLIDER">
        <validation minValue="0" maxValue="100" regEx=""/>
    </setting>
	<setting id="SEEKER_DENSITY" description="" editable="true" name="Seeker density" valueType="FLOAT" value="2" settingType="SLIDER">
        <validation minValue="0" maxValue="100" regEx=""/>
    </setting>
	<setting id="FRAGMENT_DENSITY" description="" editable="true" name="Fragment density" valueType="FLOAT" value="1" settingType="SLIDER">
        <validation minValue="0" maxValue="100" regEx=""/>
    </setting>
	
	<!--size-->
	<setting id="BULLET_SIZE" description="" editable="true" name="Bullet size" valueType="FLOAT" value="2" settingType="SLIDER">
        <validation minValue="0.5" maxValue="10" regEx=""/>
    </setting>
	<setting id="BOMB_SIZE" description="" editable="true" name="Bomb size" valueType="FLOAT" value="5" settingType="SLIDER">
        <validation minValue="0.5" maxValue="10" regEx=""/>
    </setting>
	<setting id="SEEKER_SIZE" description="" editable="true" name="Seeker size" valueType="FLOAT" value="2" settingType="SLIDER">
        <validation minValue="0.5" maxValue="10" regEx=""/>
    </setting>
	<setting id="FRAGMENT_SIZE" description="" editable="true" name="Fragment size" valueType="FLOAT" value="1.5" settingType="SLIDER">
        <validation minValue="0.5" maxValue="10" regEx=""/>
    </setting>
	
	<!--bomb-->
	<setting id="BOMB_NUMBER_FRAGMENTS" description="" editable="true" name="Bomb number of fragments" valueType="INT" value="10" settingType="SLIDER">
        <validation minValue="0" maxValue="50" regEx=""/>
    </setting>
	<setting id="BOMB_TIME_TO_DETONATE" description="" editable="true" name="Bomb time to detonate" valueType="INT" value="1000" settingType="SLIDER">
        <validation minValue="0" maxValue="10000" regEx=""/>
    </setting>
	<setting id="BOMB_EXPLOSION_IMPULSE" description="" editable="true" name="Bomb explosion impulse" valueType="FLOAT" value="1000" settingType="SLIDER">
        <validation minValue="0" maxValue="10000" regEx=""/>
    </setting>
	
	<!--fragment-->
	
	<!--seeker-->
	<setting id="SEEKER_TIME_BEFORE_SEEK" description="msec" editable="true" name="Seeker time before seeking" valueType="INT" value="1000" settingType="SLIDER">
        <validation minValue="0" maxValue="10000" regEx=""/>
    </setting>
	<setting id="SEEKER_SUPER_SEEKER" description="" editable="true" name="Super seeker on" valueType="BOOLEAN" value="true" settingType="TOGGLE">
        <validation minValue="" maxValue="" regEx=""/>
    </setting>
	<setting id="SEEKER_UPDATE_FREQUENCY" description="sec" editable="true" name="Seeker update frequency" valueType="FLOAT" value="0.2" settingType="SLIDER">
        <validation minValue="0.1" maxValue="10" regEx=""/>
    </setting>
	<setting id="SEEKER_CACHE_SHIPS" description="only gets available ships once" editable="true" name="Seeker cache ships" valueType="BOOLEAN" value="true" settingType="TOGGLE">
        <validation minValue="" maxValue="" regEx=""/>
    </setting>
	<!--ship-->
</config>






































