<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<config>
    <setting description="platform friction. can be used to stop the ship sliding of the platform - or the opposite" editable="true" id="PLATFORM_FRICTION" name="Platform friction" settingType="SLIDER" value="5" valueType="FLOAT">
        <validation maxValue="20" minValue="0" regEx=""/>
    </setting>
    <setting description="" editable="true" id="BULLET_SPEED" name="Bullet speed" settingType="SLIDER" value="4500" valueType="FLOAT">
        <validation maxValue="2000" minValue="100" regEx=""/>
    </setting>
    <setting description="" editable="true" id="BOMB_SPEED" name="Bomb speed" settingType="SLIDER" value="300" valueType="FLOAT">
        <validation maxValue="2000" minValue="0" regEx=""/>
    </setting>
    <setting description="Speed after seeking has started" editable="true" id="SEEKER_SPEED" name="Seeker speed" settingType="SLIDER" value="400" valueType="FLOAT">
        <validation maxValue="2000" minValue="0" regEx=""/>
    </setting>
    <setting description="the speed of missile when fired" editable="true" id="SEEKER_INIT_SPEED" name="Seeker initial speed" settingType="SLIDER" value="600" valueType="FLOAT">
        <validation maxValue="2000" minValue="0" regEx=""/>
    </setting>
    <setting description="" editable="true" id="FRAGMENT_IMPULSE" name="Fragment impulse" settingType="SLIDER" value="700" valueType="FLOAT">
        <validation maxValue="2000" minValue="0" regEx=""/>
    </setting>
    <setting description="bullet cost" editable="true" id="BULLET_COST" name="Bullet cost" settingType="SLIDER" value="1" valueType="INT">
        <validation maxValue="20" minValue="0" regEx=""/>
    </setting>
    <setting description="" editable="true" id="BOMB_COST" name="Bomb cost" settingType="SLIDER" value="5" valueType="INT">
        <validation maxValue="20" minValue="0" regEx=""/>
    </setting>
    <setting description="" editable="true" id="SEEKER_COST" name="Seeker cost" settingType="SLIDER" value="2" valueType="FLOAT">
        <validation maxValue="20" minValue="0" regEx=""/>
    </setting>
    <setting description="" editable="true" id="FRAGMENT_COST" name="Fragment cost" settingType="SLIDER" value="0" valueType="FLOAT">
        <validation maxValue="20" minValue="0" regEx=""/>
    </setting>
    <setting description="bullet damage" editable="true" id="BULLET_DAMAGE" name="Bullet damage" settingType="SLIDER" value="10" valueType="INT">
        <validation maxValue="100" minValue="0" regEx=""/>
    </setting>
    <setting description="" editable="true" id="BOMB_DAMAGE" name="Bomb damage" settingType="SLIDER" value="25" valueType="INT">
        <validation maxValue="100" minValue="0" regEx=""/>
    </setting>
    <setting description="" editable="true" id="SEEKER_DAMAGE" name="Seeker damage" settingType="SLIDER" value="15" valueType="INT">
        <validation maxValue="100" minValue="0" regEx=""/>
    </setting>
    <setting description="" editable="true" id="FRAGMENT_DAMAGE" name="Fragment damage" settingType="SLIDER" value="5" valueType="INT">
        <validation maxValue="100" minValue="0" regEx=""/>
    </setting>
    <setting description="" editable="true" id="BULLET_DURATION" name="Bullet duration" settingType="SLIDER" value="6000" valueType="INT">
        <validation maxValue="10000" minValue="1000" regEx=""/>
    </setting>
    <setting description="" editable="true" id="SEEKER_DURATION" name="Seeker duration" settingType="SLIDER" value="8000" valueType="FLOAT">
        <validation maxValue="10000" minValue="1000" regEx=""/>
    </setting>
    <setting description="" editable="true" id="FRAGMENT_DURATION" name="Fragment duration" settingType="SLIDER" value="1500" valueType="FLOAT">
        <validation maxValue="10000" minValue="1000" regEx=""/>
    </setting>
    <setting description="" editable="true" id="BULLET_DENSITY" name="Bullet density" settingType="SLIDER" value="2" valueType="FLOAT">
        <validation maxValue="100" minValue="0" regEx=""/>
    </setting>
    <setting description="" editable="true" id="BOMB_DENSITY" name="Bomb density" settingType="SLIDER" value="6" valueType="FLOAT">
        <validation maxValue="100" minValue="0" regEx=""/>
    </setting>
    <setting description="" editable="true" id="SEEKER_DENSITY" name="Seeker density" settingType="SLIDER" value="2" valueType="FLOAT">
        <validation maxValue="100" minValue="0" regEx=""/>
    </setting>
    <setting description="" editable="true" id="FRAGMENT_DENSITY" name="Fragment density" settingType="SLIDER" value="1" valueType="FLOAT">
        <validation maxValue="100" minValue="0" regEx=""/>
    </setting>
    <setting description="" editable="true" id="BULLET_SIZE" name="Bullet size" settingType="SLIDER" value="3" valueType="FLOAT">
        <validation maxValue="10" minValue="0.5" regEx=""/>
    </setting>
    <setting description="" editable="true" id="BOMB_SIZE" name="Bomb size" settingType="SLIDER" value="5" valueType="FLOAT">
        <validation maxValue="10" minValue="0.5" regEx=""/>
    </setting>
    <setting description="" editable="true" id="SEEKER_SIZE" name="Seeker size" settingType="SLIDER" value="2" valueType="FLOAT">
        <validation maxValue="10" minValue="0.5" regEx=""/>
    </setting>
    <setting description="" editable="true" id="FRAGMENT_SIZE" name="Fragment size" settingType="SLIDER" value="1.5" valueType="FLOAT">
        <validation maxValue="10" minValue="0.5" regEx=""/>
    </setting>
    <setting description="" editable="true" id="BOMB_NUMBER_FRAGMENTS" name="Bomb number of fragments" settingType="SLIDER" value="10" valueType="INT">
        <validation maxValue="50" minValue="0" regEx=""/>
    </setting>
    <setting description="" editable="true" id="BOMB_TIME_TO_DETONATE" name="Bomb time to detonate" settingType="SLIDER" value="1000" valueType="INT">
        <validation maxValue="10000" minValue="0" regEx=""/>
    </setting>
    <setting description="" editable="true" id="BOMB_EXPLOSION_IMPULSE" name="Bomb explosion impulse" settingType="SLIDER" value="1000" valueType="FLOAT">
        <validation maxValue="10000" minValue="0" regEx=""/>
    </setting>
    <setting description="msec" editable="true" id="SEEKER_TIME_BEFORE_SEEK" name="Seeker time before seeking" settingType="SLIDER" value="1000" valueType="INT">
        <validation maxValue="10000" minValue="0" regEx=""/>
    </setting>
    <setting description="" editable="true" id="SEEKER_SUPER_SEEKER" name="Super seeker on" settingType="TOGGLE" value="true" valueType="BOOLEAN">
        <validation maxValue="" minValue="" regEx=""/>
    </setting>
    <setting description="sec" editable="true" id="SEEKER_UPDATE_FREQUENCY" name="Seeker update frequency" settingType="SLIDER" value="0.2" valueType="FLOAT">
        <validation maxValue="10" minValue="0.1" regEx=""/>
    </setting>
    <setting description="only gets available ships once" editable="true" id="SEEKER_CACHE_SHIPS" name="Seeker cache ships" settingType="TOGGLE" value="true" valueType="BOOLEAN">
        <validation maxValue="" minValue="" regEx=""/>
    </setting>
    <setting description="" editable="true" id="SHIP_LIVES" name="Ship lives" settingType="SLIDER" value="5" valueType="INT">
        <validation maxValue="30" minValue="1" regEx=""/>
    </setting>
    <setting description="" editable="true" id="SHIP_MAX_HP" name="Ship hitpoints" settingType="SLIDER" value="50" valueType="INT">
        <validation maxValue="200" minValue="5" regEx=""/>
    </setting>
    <setting description="" editable="true" id="SHIP_REGEN_HP" name="Ship HP regeneration" settingType="SLIDER" value="3" valueType="INT">
        <validation maxValue="20" minValue="0" regEx=""/>
    </setting>
    <setting description="" editable="true" id="SHIP_REGEN_AMMO" name="Ship AMMO regeneration" settingType="SLIDER" value="2" valueType="INT">
        <validation maxValue="20" minValue="0" regEx=""/>
    </setting>
    <setting description="" editable="true" id="SHIP_MAX_AMMO" name="Ship Max AMMO" settingType="SLIDER" value="50" valueType="INT">
        <validation maxValue="200" minValue="0" regEx=""/>
    </setting>
    <setting description="" editable="true" id="SHIP_HP_REGEN_FREQUENCY" name="Ship HP regen frequency" settingType="SLIDER" value="800" valueType="INT">
        <validation maxValue="6000" minValue="100" regEx=""/>
    </setting>
    <setting description="" editable="true" id="SHIP_AMMO_REGEN_FREQUENCY" name="Ship AMMO regen frequency" settingType="SLIDER" value="800" valueType="INT">
        <validation maxValue="6000" minValue="100" regEx=""/>
    </setting>
    <setting description="" editable="true" id="SHIP_ROTATION_SPEED" name="Ship rotation speed" settingType="SLIDER" value="600" valueType="FLOAT">
        <validation maxValue="2000" minValue="0" regEx=""/>
    </setting>
    <setting description="" editable="true" id="SHIP_BOOST_IMPULSE" name="Ship boost impulse" settingType="SLIDER" value="900" valueType="FLOAT">
        <validation maxValue="2000" minValue="0" regEx=""/>
    </setting>
    <setting description="" editable="true" id="SHIP_SCALE" name="Ship size scale" settingType="SLIDER" value="1" valueType="FLOAT">
        <validation maxValue="10" minValue="0.5" regEx=""/>
    </setting>
    <setting description="" editable="true" id="SHIP_DENSITY" name="Ship density" settingType="SLIDER" value="5" valueType="FLOAT">
        <validation maxValue="20" minValue="0" regEx=""/>
    </setting>
</config>
