<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<config root="skins/frozen/textures/">
	<!-- buttons -->
	<setting id="left-arrow" value="$(root)buttons/arrow-left.png"/>
	<setting id="right-arrow" value="$(root)buttons/arrow-right.png"/>
	<setting id="btn-default" value="$(root)buttons/btn-default.jpg"/>
	<setting id="btn-hover" value="$(root)buttons/btn-hover.jpg"/>
	<setting id="cursor" value="$(root)buttons/cursor.png"/>
	<setting id="toggle-checked" value="$(root)buttons/toggle-checked.png"/>
	<setting id="toggle-unchecked" value="$(root)buttons/toggle-unchecked.png"/>
	<setting id="toggle-default" value="$(root)buttons/btn-default.jpg"/>
	
	<!-- slider -->
	<setting id="v-slider-background" value="$(root)bars/v-slider.png" />
	<setting id="h-slider-background" value="$(root)bars/h-slider.png" />
	<setting id="slider-knob" value="$(root)buttons/knob.png" />
	
	<setting id="text-field-cursor" value="$(root)buttons/cursor.png" />
	
	<!-- id="default-font" and id="title-font" are optional" -->
	
	<!-- backgrounds -->
	<setting id="main-menu-background" value="$(root)backgrounds/default.jpg" />
	<setting id="settings-menu-background" value="$(root)backgrounds/default.jpg" />
	<setting id="map-select-menu-background" value="$(root)backgrounds/default.jpg" />
	<setting id="player-options-menu-background" value="$(root)backgrounds/default.jpg" />
	
	<!-- ship textures -->
	<setting id="ship-default" value="$(root)ships/default.png" />
	
	
</config>
